* {
  margin: 0; /* 外边距 */
  padding: 0; /* 内边距 */
  font-family: sans-serif; /* 字体 */
}

body {
  display: flex; /* 弹性盒模型 */
  justify-content: center; /* 主轴对齐方式 */
  align-items: center; /* 交叉轴对齐方式 */
  background: #00fff3; /* 背景颜色 */
  height: 100vh; /* 高度 */
}
#text {
  position: relative; /* 相对定位 */
  outline: none; /* 去除边框 */
  color: #fff; /* 颜色 */
  font-weight: 700; /* 字体维度 */
  font-size: 10em; /* 字体大小 */
  width: 100%; /* 宽度 */
  text-align: center; /* 字体居中 */
}